@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    font-family:'Roboto', sans-serif;
}

.boss{
    margin-top: 120px;
    padding: 50px;
    background-color: rgb(50, 50, 50);
    color: white;
}

.trailer{
    padding: 50px;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
}

.imgmaps{
    width: 500px;
    height: 300px;
}

.maps{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    border: solid #78866B 1px;
}

.imgboss{
    width: 250px;
    height: 250px;
    margin-left: 80px;
    margin-right: 80px;
}

.stockboss{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stockmaps{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    color: white;
}

h3{
    text-align: center;
}

#texte{
    display: flex;
    justify-content: center;
    padding: 25px;
}

#principe{
    background-color: rgb(50, 50, 50);
    color: white;
}

h2{
    margin-top: 0px;
    text-align: center;
}
#logo{
    left: 0px;
    width: 75px;
    height: 75px;
    margin-right: 50px;
}

header{
    background-color: #78866B;
    margin: auto 0 ;
    padding: 40px;
}

footer{
    padding: 50px;
    background-color: #78866B;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    text-align: center;
    margin-bottom: 0;
}

a{
    margin-left: auto;
    margin-right: auto;
}
